* {
	padding: 0;
	margin: 0; 
}
body {
	/*background: lime;*/
	font-family: Tahoma, sans-serif;
	background-color: lightgray;
}

	
.list {
	width: 500px;
	background-color: white;
	margin:0 auto;
	margin-top: 5px;
	padding: 30px;
}
/*Enter paragraph*/
p{
	color: black;
	/*background-color: gray;*/
}

/*End paragraph*/


 h1 {
  	 text-align: center;
  	 font-size: 16px;
 }
.stud {
	text-align: center;
}
h3 {
	margin-left: 15px;
}
 
 .line {
 	width: 450px;
 	border: solid 1px lightgrey;
}
img {
	border: 1px solid black;
}
.face {
	height: 224px;
	width: 334px;
	margin: 0 auto;
}
.frontend {
    margin-left: 50px;
}

.telephone {
	margin-left: 50px; 
}
.mail {
    margin-left: 50px; 
}
.fback {
	margin-left: 50px; 
}