* {
	padding: 0;
	margin: 0; 
}

body {
		font-family: Tahoma, sans-serif;
	background-color: lightgray;
}

.list {
	width: 500px;
	background-color: white;
	margin:0 auto;
	margin-top: 5px;
	padding: 30px;
	padding-bottom: 60px;
	margin-bottom: 50px;
	-webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,.46);
-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,.46);
box-shadow: 0px 2px 3px 0px rgba(0,0,0,.46);
}

h1 {
  	 text-align: center;
  	 font-size: 20px;
 }
p.stud {
	text-align: center;
	margin-left: 0px;
	font-weight: normal;
}

p {
	margin-left: 15px;
	font-weight: bold;
}
 
.line {
 	width: 470px;
 	margin: 0 auto;
}

.face {
	height: 202px;
	width: 252px;
	margin: 0 auto;
}

.frontend, 
.fback, 
.telephone, 
.mail {
    margin-left: 50px;
}

.fback  {
	list-style-type: none;
}