body {
	font-family: 'Open Sans', 'Times New Roman', sans-serif;
	background-color: #F9F9F9;
	/*font-size: 20pt;*/
}
.list {
	width: 1060px;
	background-color: white;
	margin:0 auto;
	margin-top: -25px;
	padding: 0px;
	padding-bottom: 60px;
	margin-bottom: 50px;
	-webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,.46);
	-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,.46);
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,.46);
}
h1 {
  	 font-size: 30pt;
  	 color: #000000;
  	 margin-left: 47px;
 }
nav {
	width: 966px;
	height: 40px;
	background: linear-gradient(to top,#454444,#5e5e5e);
	margin: 0 auto;
}
nav ul{
	padding-left:0px;
	margin: 0px;
}
/*происходит сдвиг вправо на 1px ? -не разобрался почему*/
nav li {
	height: 40px;
	width: 100px;
	display:inline-block;
	float: left;
	text-align: center;
}
nav li a {
	display: inline-block;
	text-align:center;
	text-decoration:none;
	color:white;
	line-height:40px;
	height: 40px;
	width: 100px;
	text-shadow: 1px 1px 1px black;
}
nav li:hover {
	background: linear-gradient(to top,#2e2e2e,#4a4a4a);
	border-left: 1px solid #838383;
	border-right: 1px solid #838383;
}
nav li a:hover {
	height: 40px;
	width: 100px;
}
.byce,
.sidebar {
	display: inline-block;
	width: 15px;
	margin: 35px 22px 10px 0;
	vertical-align: top;
	text-align: left;
}
.byce {
	border: 1px solid #c8c8c8;
	height: 400px;
	width: 680px;
	margin: 35px 0px 10px 15px;
}	
.sidebar {
	width: 250px;
	height:240px;
}
.sidebar li {
	list-style:none;
	width: 250px;
	height: 40px;
	background-color: #fff;
	border: 1px solid #c8c8c8; 
	border-bottom-width: 0px;
	color:black ;
	margin-left: 8px;
}
.sidebar li a {
	text-decoration: none;
	color:#969696;
	width: 240px;
	height: 40px;
	display: inline-block;
	padding-left: 10px;
	line-height:40px;
}
.osobeniy {
	list-style:none;
	border-bottom-width: 1px solid #c8c8c8;
	width: 250px;
	height: 41px;
	background-color: #fff;
	color:black;
	margin-left: 8px;
}
.sidebar li:hover {
	background-color:#f9f9f9;
}
.sidebar li a:hover {
	padding-left: 25px;
	color:black;
	width: 200px;
	height: 40px;
}
p {
	width: 645px;
	margin: 15px 0px 55px 354px;
	line-height: 20px;
}
footer {
	width: 966px;
	height: 40px;
	background: #e1e1e1;
	margin: 0 auto;
}
footer ul{
	padding-left: 0;
}
footer li {
	height: 40px;
	width:100px;
	display:inline-block;
	float: left;
	text-align: center;
}
footer li a {
	display: inline-block;
	text-decoration:none;
	text-align: center;
	color:black;
	height: 40px;
	width: 100px;
	line-height: 40px;
}
footer li a:hover {
	display: inline-block;
	text-decoration:underline;
	color:black;
}
.reserved {
	margin-left: 366px;
	width: 200px;
	height: 40px;
	line-height: 40px;
}
